@import "../../styles/common.scss";
@import "../../styles/color.scss";

.mobileSearch {
  @include modal;

  .container {
    @include container;
    height: 200px;

    .title {
      width: 100%;
      background-color: $shadowBlue;
      color: white;
      height: 30px;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    .body {
      width: 100%;

      .text {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .input {
        border: 1px solid $borderColor;
        outline: none;
        width: 200px;
        height: 20px;
      }
    }

    .btns {
      position: absolute;
      bottom: 10px;
      display: flex;
      width: 100%;
      justify-content: center;

      button {
        border: none;
        outline: none;
        padding: 5px 8px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        color: white;
      }

      .search {
        background-color: $shadowBlue;
        &:hover {
          background-color: blue;
        }
      }

      .cancle {
        margin-right: 10px;
        background-color: gray;

        &:hover {
          background-color: darkgray;
        }
      }
    }
  }
}
