@import "../../../styles/color.scss";
@import "../../../styles/common.scss";

.addTitleComponent {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid $borderColor;

  .text {
    margin-right: 10px;
    font-weight: 700;
  }

  .input {
    @include recipeInput;
    width: 50%;
  }
}
