@import "../../../styles/common.scss";

.imgView {
  @include modal;

  .img {
    width: 500px;
    height: 400px;
  }

  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}
