@import "../../styles/color.scss";

.lists {
  width: 60%;
  height: 80%;
  padding: 5rem;
  padding-top: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: 150px;
  grid-gap: 10px;

  .main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: $boxShadow;
    background-color: rgb(76, 255, 70);
    color: white;
  }
}
