@import "../../../styles/common.scss";

.tags {
  color: blue;
  display: flex;
  margin-top: 10px;

  .tag {
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @include mobile {
    padding-left: 10px;
  }
}
