@import "../../styles/common.scss";
@import "../../styles/color.scss";

.addRecipe {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  @include flexSort;

  .container {
    width: 400px;
    height: 70%;
    background-color: white;

    .header {
      padding: 10px;
      background-color: $shadowBlue;
      color: white;
    }
  }
}
