@import "../../styles/common.scss";
@import "../../styles/color.scss";

.addRecipe {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  @include flexSort;

  .container {
    width: 400px;
    max-height: 70vh;
    overflow-y: auto;
    background-color: white;

    .header {
      padding: 10px;
      background-color: $shadowBlue;
      color: white;
    }

    .title {
      display: flex;
      align-items: center;
      padding: 15px 10px;
      border-bottom: 1px solid $borderColor;

      .text {
        margin-right: 10px;
        font-weight: 700;
      }

      .input {
        @include recipeInput;
        width: 50%;
      }
    }
  }
}
