@import "../../styles/common.scss";
@import "../../styles/color.scss";

.join {
  @include modal;

  .container {
    @include container;
    height: 50vh;
  }

  .btns {
    padding: 20px 20px 10px 20px;
    @include flexSort;

    button {
      border: none;
      outline: none;
      padding: 5px 8px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      color: white;
    }

    .addBtn {
      background-color: $shadowBlue;
      &:hover {
        background-color: blue;
      }
    }

    .cancleBtn {
      margin-right: 10px;
      background-color: gray;

      &:hover {
        background-color: darkgray;
      }
    }
  }
}
