@import "../../styles/common.scss";

.login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  @include flexSort;

  .container {
    width: 350px;
    height: 60vh;
    text-align: center;
    background-color: white;

    .header {
      font-size: 20px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}
