@import "../../styles/common.scss";
@import "../../styles/color.scss";

.login {
  @include modal;

  .container {
    @include container;
  }

  .btns {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 80%;
      padding: 10px 0;
      outline: none;
      border: none;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }

    .loginBtn {
      background-color: rgb(66, 66, 66);
      margin-bottom: 5px;

      &:hover {
        background-color: black;
      }
    }

    .join {
      background-color: $shadowBlue;

      &:hover {
        background-color: blue;
      }
    }
  }
}
